# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/ipch/d8d1f9ba5528c60f/mmap_address.bin
.vscode/ipch/31b931cd0c350f98/mmap_address.bin
.vscode/ipch/b9be7d1408866da1/BKTREE.ipch
.vscode/ipch/b9be7d1408866da1/mmap_address.bin
.vscode/ipch/bb81ffac828574aa/mmap_address.bin
.vscode/ipch/bb81ffac828574aa/DICT.ipch
